.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  .title_notFound {
    font-size: 288px;
    margin-bottom: 0;
  }
  .oups {
    font-weight: 500;
    margin-bottom: 0;
  }
  .back-home {
    margin-top: 182px;
    text-decoration: underline;
  }
}
